$primary-color: #183028;
$primary-color50: #f3bb90;
$primary-bg: #e87722;
$white: white;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.menu {
  padding: 0px;
  background-color: $primary-bg;
  border-end-end-radius: 16px;
  border-end-start-radius: 16px;
  border-color: $primary-color50;
  font-size: 20px;
  font-family: $font;
  color: $primary-color;
  margin-top: -8px;
  flex-direction: row;
  display: flex;
  //   float: left;

  &:hover {
    background: $primary-color50;
  }
}

.menu a {
  &:link {
    color: black;
    text-decoration: none;
  }
  &:visited {
    color: black;
    text-decoration: none;
  }
}

.menu a span {
  display: flex;
  margin: 16px;
  &:hover {
    color: $white;
  }
}

.hi {
}
